/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.myPanelClass{
    margin-top: 22px !important;
    min-width: 100% !important;
    margin-left: 16px;
}

